<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CinemaDbContext"
            connectionString="Data Source=DESKTOP-0BMQ8KI\DTARENAS;Initial Catalog=Cine;User ID=Diego;Password=Diego"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>